{% extends 'modals-base.html' %}

{% block modal-header %}
{% if not entered %}
  Warning
{% else %}
  Welcome, {{scorer_name}}
{% endif %}
{% endblock %}

{% block modal-content %}
{% if not entered %}
  {{message}}
{% else %}
  <div class="py-5">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">ScoreBoard</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  {% for value in scoreboard_head %}
                    <th>{{value}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <input type="text" style="display:none" id="items_counter" value="{{scoreboard_size}}">
                {% for values in scoreboard_body %}
                <tr>
                  {% for value in values %}
                  <td>
                      {% if forloop.first %}
                          {{value}}
                      {% else %}
                          {% if value.score == "NULL" %}
                              <input type="text" id="{{value.index}}" class="form-control">
                          {% else %}
                              <input type="text" id="{{value.index}}" value="{{value.score}}" class="form-control">
                          {% endif %}
                          <input type="text" class="form-control" placeholder="reason">
                      {% endif %}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}

{% block modal-footer %}
{% if not entered %}
  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
{% else %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button onclick="score_submit()" type="button" class="btn btn-primary">Save Changes</button>
{% endif %}
{% endblock %}

