<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/index.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-faded text-center fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ScoreBoard">ScoreBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ScoreRanking">ScoreRanking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ScoreMoments">ScoreMoments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ScoreZone">ScoreZone</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="Home" class="bg-primary text-center d-flex align-items-center h-75 my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-white display-3">SFLS Discipline Inspection Department</h1>
          <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
        </div>
      </div>
    </div>
  </div>
  <div id="ScoreBoard" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">ScoreBoard</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                {% for item in scoreboard.0 %}
                  <th>{{scoreboard.1.scoreboard_size_y}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="ScoreRanking" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">ScoreRanking</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="ScoreMoments" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">ScoreMoments</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-home fa-fw"></i>Cras justo odio </li>
            <li class="list-group-item">Dapibus ac facilisis</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="ScoreZone" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">ScoreZone</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <div class="form-group"> <label>Username</label>
              <input type="email" class="form-control" placeholder="Enter username"> </div>
            <div class="form-group"> <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter password"> </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>