{% verbatim %}
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-vue.css" />
</head>

<body>
  <div id="rootNode">

    <b-navbar sticky=true toggleable="md">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-container>
          <b-row class="justify-content-md-center">
            <b-col md="auto">
              <b-nav is-nav-bar class="auto" v-b-scrollspy="-5">
                <b-nav-item href="#Home">Home</b-nav-item>
                <b-nav-item href="#ScoreBoard">ScoreBoard</b-nav-item>
                <b-nav-item href="#ScoreRanking">ScoreRanking</b-nav-item>
                <b-nav-item href="#ScoreMoments">ScoreMoments</b-nav-item>
                <b-nav-item href="#">ScoreZone</b-nav-item>
              </b-nav>
              <b-col>
          </b-row>
        </b-container>
      </b-collapse>
    </b-navbar>

    <b-carousel id="Home" controls indicators :interval="4000" img-width="1024" img-height="480">
      <b-carousel-slide caption="SFLS Discipline Inspection Department">
        <b-img slot="img" class="d-block w-100" blank width="1024" height="480" blank-color="#a51c30">
      </b-carousel-slide>
      <b-carousel-slide caption="SFLS Discipline Instection Department">
        <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
        <b-img slot="img" class="d-block w-100" width="1024" height="480" src="/static/1.jpg" alt="image slot">
      </b-carousel-slide>
    </b-carousel>

    <item-table id="ScoreBoard" :table_title="'ScoreBoard'" :table_data="scoreboard_data"></item-table>
    <item-table id="ScoreRanking" :table_title="'ScoreRanking'" :table_data="scoreranking_data"></item-table>
    <item-table id="ScoreMoments" :table_title="'ScoreMoments'" :table_data="scoremoments_data"></item-table>


  </div>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/vue.js"></script>
  <script src="/static/polyfill.min.js"></script>
  <script src="/static/bootstrap-vue.js"></script>
  <script>
    var app = new Vue({
      el: '#rootNode',
      data: {
        scoreboard_data: '',
        scoreranking_data: '',
        scoremoments_data: '',
        scoreboard_modal_data: '',
        scoreranking_modal_data: '',
        scoremoments_modal_data: '',
      }
    })
    Vue.component('item-table', {
      props: {
        table_title : String,
        table_data : Array,
      },
      template: '<b-container>\
      <b-row><br><br><br><br></b-row>\
      <b-row>\
        <b-col>\
          <h1 style="text-align:center">{{table_title}}</h1>\
        </b-col>\
      </b-row>\
      <b-row>\
        <b-col>\
          <b-table :items="table_data">\
          </b-table>\
        </b-col>\
      </b-row>\
    </b-container>'
    })
    $.getJSON("ajax/get-scoreboard", function (result) {
      app.scoreboard_data = result;
    })
    $.getJSON("ajax/get-scoreranking", function (result) {
      app.scoreranking_data = result;
    })
    $.getJSON("ajax/get-scoremoments", function (result) {
      app.scoremoments_data = result;
    })
  </script>
</body>

</html>
{% endverbatim %}