{% verbatim %}
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-vue.css" />
</head>

<body>
  <div id="rootNode">

    <b-navbar :sticky="true" toggleable="md">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-container>
          <b-row class="justify-content-md-center">
            <b-col md="auto">
              <b-nav is-nav-bar class="auto" v-b-scrollspy="-5">
                <b-nav-item href="#Home">Home</b-nav-item>
                <b-nav-item href="#ScoreBoard">ScoreBoard</b-nav-item>
                <b-nav-item href="#ScoreRanking">ScoreRanking</b-nav-item>
                <b-nav-item href="#ScoreMoments">ScoreMoments</b-nav-item>
                <b-nav-item href="#">ScoreZone</b-nav-item>
              </b-nav>
              <b-col>
          </b-row>
        </b-container>
      </b-collapse>
    </b-navbar>

    <b-carousel id="Home" controls indicators :interval="4000">
      <b-carousel-slide caption="SFLS Discipline Inspection Department">
          <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
          <b-img slot="img" class="d-block img-fluid w-100" width="1024" height="576" src="/static/pic/1.jpg" alt="image slot"></b-img>
      </b-carousel-slide>      
      <b-carousel-slide caption="SFLS Discipline Inspection Department">
          <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
          <b-img slot="img" class="d-block img-fluid w-100" width="1024" height="576" src="/static/pic/2.jpg" alt="image slot"></b-img>
      </b-carousel-slide>      
      <b-carousel-slide caption="SFLS Discipline Inspection Department">
          <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
          <b-img slot="img" class="d-block img-fluid w-100" width="1024" height="576" src="/static/pic/3.jpg" alt="image slot"></b-img>
      </b-carousel-slide>      
      <b-carousel-slide caption="SFLS Discipline Inspection Department">
          <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
          <b-img slot="img" class="d-block img-fluid w-100" width="1024" height="576" src="/static/pic/4.jpg" alt="image slot"></b-img>
      </b-carousel-slide>      
    </b-carousel>

    <item-table id="ScoreBoard" :table_title="'ScoreBoard'" :table_data="scoreboard_data"></item-table>
    <item-table id="ScoreRanking" :table_title="'ScoreRanking'" :table_data="scoreranking_data"></item-table>
    <item-table id="ScoreMoments" :table_title="'ScoreMoments'" :table_data="scoremoments_data"></item-table>

  </div>
  
  <script src="/static/js/jquery.js"></script>
  <script src="/static/vue.js"></script>
  <script src="/static/polyfill.min.js"></script>
  <script src="/static/bootstrap-vue.js"></script>
  <script src="/static/js/index.js"></script>
</body>

</html>
{% endverbatim %}