{% verbatim %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/index.css" type="text/css">
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-vue.css" />
</head>

<body>
  <div id="rootNode">

    <b-navbar :sticky="true" toggleable="md">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-container>
          <b-row class="justify-content-md-center">
            <b-col md="auto">
              <b-nav is-nav-bar class="auto" v-b-scrollspy="-5">
                <b-nav-item href="#Home">Home</b-nav-item>
                <b-nav-item href="#ScoreBoard">ScoreBoard</b-nav-item>
                <b-nav-item href="#ScoreRanking">ScoreRanking</b-nav-item>
                <b-nav-item href="#ScoreMoments">ScoreMoments</b-nav-item>
                <b-nav-item href="#ScoreZone">ScoreZone</b-nav-item>
              </b-nav>
              <b-col>
          </b-row>
        </b-container>
      </b-collapse>
    </b-navbar>

    <div id="Home" class="bg-primary text-center d-flex align-items-center h-75">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-white display-3">SFLS Discipline Inspection Department</h1>
            <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
            <p class="lead text-white">非常抱歉，演示时网站没有开放所有功能，现在已恢复</p>
            <p class="lead text-white">测试账号和密码皆为a</p>
          </div>
        </div>
      </div>
    </div>

    <item-table id="ScoreBoard" :table_title="'ScoreBoard'" :table_data="scoreboard_data" :modal_target="'modal1'" :when_click="'more_on_scoreboard_click()'"></item-table>
    <item-table id="ScoreRanking" :table_title="'ScoreRanking'" :table_data="scoreranking_data" :when_click="'more_on_scoreranking_click()'"></item-table>
    <item-table id="ScoreMoments" :table_title="'ScoreMoments'" :table_data="scoremoments_data"></item-table>

    <div id="ScoreZone" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">ScoreZone</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="">
              <div class="form-group"> <label>Username</label>
                <input id="login_username" type="text" class="form-control" placeholder="Enter username"> </div>
              <div class="form-group"> <label>Password</label>
                <input id="login_password" type="password" class="form-control" placeholder="Enter password"> </div>
              <button onclick="app.login()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-primary">
      <b-container>
        <div class="py-4"></div>
        <b-row>
          <b-col>
            <h5>Info.</h5>
            <p style="font-size:14px">Suzhou Foreign Language School <br> Discipline Inspection Department <br></p>
          </b-col>
          <b-col>
            <h5>Contacts</h5>
            <p style="font-size:14px">Official QQ Group:570842242 <br> President && Contact: 芮芃 285179308</p>
          </b-col>
          <b-col>
            <h5>Dev Info.</h5>
            <p style="font-size:14px">Powered by HankelBao<br> QQ Contant: 1825808839</p>
          </b-col>
          <b-col>
            <h5>School Info.</h5>
            <b-img height="75" src="/static/pic/sfls.png" fluid alt="Responsive image" />
          </b-col>
        </b-row>
        <div class="py-2"></div>
      </b-container>
    </div>

  </div>
  {% endverbatim %}
  {% include 'DID/modals.html' %}

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/tether.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/vue.js"></script>
  <script src="/static/polyfill.min.js"></script>
  <script src="/static/bootstrap-vue.js"></script>
  <script src="/static/js/index.js"></script>
</body>

</html>
